.search-wrapper {
    display: flex;
    flex-direction: column;
    gap: .50rem;
}

input {
    font-size:  1rem;
}


.poke-cards {
    display: grid;
   grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
   gap: .5rem;
   margin-top: 1rem;

}

.card {
    font-family: monospace;
    border: 1px solid black;
    border-radius: 15px;
    background-color: bisque;
    padding: .5rem
}

.card > .header {
    margin-bottom: .25rem;
    font-size: 1.2rem;
    text-align: center;
    color: rgb(19, 19, 126);

}

.hide {
    display: none;
}